﻿<html>
<head>
    @Styles.Render("~/Content/css")
    <title>FizzBuzz</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
