﻿@model FizzBuzz.Web.Models.FizzBuzzSequence
@using PagedList.Mvc
<div>
    @if (Model != null && Model.SequenceNumberList != null && Model.SequenceNumberList.Count > 0)
    {
        foreach (var item in Model.SequenceNumberList)
        {

        <div>
            <span class="@item.Replace(" ","")">
                @Html.DisplayFor(m => item)
            </span>
        </div>

        }

        @Html.PagedListPager(Model.SequenceNumberList, page => Url.Action("GetPage", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    }
</div>
