﻿@model FizzBuzz.Web.Models.FizzBuzzSequence
@using (Html.BeginForm("FizzBuzz", "Sequence", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="FizzBuzzsection">
        <div>

            @Html.LabelFor(m => m.SequenceNumber)
            @Html.TextBoxFor(m => m.SequenceNumber, new { Value = "" })

            <input type="submit" name="btnSubmit" value="show" />
        </div>

        @Html.ValidationMessageFor(m => m.SequenceNumber)

        @Html.Partial("_Sequence")
    </div>
    
}


